<div class="card-header headercard">
  <div class="row">
    <div class="col-4 justify-content-start d-flex">
      <p class="my-auto">
        <img *ngIf="result.type === 'FCL'" src="/img/FCL.svg" alt="" class="img-fluid me-2" width="40" height="20">
        <img *ngIf="result.type === 'FTL'" src="/img/FTL.svg" alt="" class="img-fluid me-2" width="25" height="20">
        <span class="my-auto">{{ result.type }}</span>
      </p>
    </div>
    <div class="col-8 justify-content-end d-flex">
      <span [ngClass]="result.status_class" class="dot mx-2 my-auto"></span>
      <span class="title-status my-auto">{{ result.status_string }}</span>
    </div>
  </div>
</div>

<div class="card-body">
  <div *ngFor="let destination of result.destinations; let i = index" class="row">
    <div class="col-2">
      <img [src]="i === 0 ? '/img/pickup.svg' : '/img/dropoff.svg'" [alt]="destination.nickname" width="50" height="50"
        class="img-fluid my-auto">
    </div>

    <div class="col-6">
      <p class="truncate my-auto" [title]="destination.address">{{ destination.address }}</p>
    </div>

    <div class="col-4 justify-content-end d-flex">
      <p class="text-end" *ngIf="i === 0">{{ formatDate(destination.start_date) }}</p>
      <p class="text-end" *ngIf="i === result.destinations.length - 1"> {{ formatDate(destination.end_date)
        }}</p>
    </div>
  </div>
</div>