.card{
  background: #111418;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #8989899d;}
.btn-track{
  width: 100%;
  background-color: yellow;

}



.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 8px;
}

.custom-checkbox input {
  display: none; 
}

.custom-checkbox .checkmark {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.custom-checkbox input:checked + .checkmark {
  background-color: yellow;
}

.imgavatar {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 15px solid #111418; 
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.804);
  transition: transform 0.3s ease-in-out;
}

.imgavatar:hover {
  transform: scale(1.05); 
}


.imgavatar:hover {
  transform: scale(1.5);
}
.timeline {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.timeline-step {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.circle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.circle.completed {
  background-color: #ffe600;
  border-color: #ffe600;
  color: black;
}

.circle.pending {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.line {
  width: 2px;
  height: 80px;
}

.line-active {
  background-color: #ffe600;
}

.line-inactive {
  background-color: #e0e0e0;
}

.checkmark {
  font-size: 16px;
}

.status-text {
  font-weight: bold;
  color: #888;
  margin-top: 2px;
}

.status-text.active-text {
  color: white;
}
