<div class="cargo-container" *ngIf="detalle">
  <div class="container">
    <div class="card" style="margin-bottom: 6rem;">
      <div class="card-header">
        <h2>Referencia: {{ detalle.reference_number }}</h2>
        <p>Orden #{{ detalle.order_number }}</p>
      </div>

      <div class="card-body">
        <div class="row mb-3">
          <div class="col-3"></div>
          <div class="col-9">
            <p><strong>PICKUP</strong></p>
            <p>{{ detalle.route.pickup }}</p>

            <div class="checkbox-section">
              <label>
                <input type="checkbox" [checked]="detalle.status === 'Accepted' || detalle.completion_percentage > 0">
                Accepted
              </label>
            </div>
          </div>

        </div>
        <div class="row mb-3">
          <div class="col-3"></div>
          <div class="col-9">
            <p><strong>DROPOFF</strong></p>
            <p>{{ detalle.route.dropoff }}</p>

            <div class="checkbox-section">
              <label>
                <input type="checkbox" [checked]="detalle.status === 'On hold'"> On hold
              </label>
            </div>
          </div>

        </div>

      </div>


    </div>

    <div class="card mb-4 m-0">

      <div class="card-header p-0 justify-content-center align-items-center d-flex ">
        <img
          [src]="detalle.driver?.thumbnail || 'https://s3-alpha-sig.figma.com/img/d66c/6bfc/5fae6fe6e789c41fe834890a2515d33a?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=bv3sRYXTnKXPQrRbDsX9rgPlANroI0PeRIiSKjXtvWc5zAWdhXXn1QxDMuKJj5XnbLKg2JedschIBe1PhnHz9YJ1VyBfKTO2Epfx4MS6HJHybOdaJ3bz2-56au5L8X2cdh3BLRVmwDQ5PzOL0DGO1YpFL8isGCYjatPJ-Ip3zOfIHK7fGZT8pFea-KmcwLnYJJfDvRft1tE94GFkXlnmG~Fx3q~ZjSlaukgZ-9ewL3NZk9CtwyAhHj4qSY64t5EDX4iy5D4zM7cZ7H3PRf9OxmRcnMq0wCPn7MrEBUvTji59h3vJPjL87y6rczCrdVQQzDYE6~HPkw20cpH0E2rXtA__'"
          alt="Driver image" class="position-absolute imgavatar" width="150" height="150" />
      </div>
      <p class="text-center mt-3">{{ formatTime(detalle.start_date) }}</p>


      <div class="card-body mt-5  justify-content-center d-flex">

        <div class="row">
          <div class="timeline">
            <div class="timeline-step" *ngFor="let item of detalle.status_list.pickup; let i = index">
              <div class="circle-container">
                <div class="circle" [ngClass]="{ 'completed': item.active, 'pending': !item.active }">
                  <span *ngIf="item.active" class="checkmark">
                    <img src="/img/check.svg" alt="">
                  </span>
                </div>

                <div class="line" *ngIf="i < detalle.status_list.pickup.length - 1" [ngClass]="{
                    'line-active': detalle.status_list.pickup[i + 1]?.active,
                    'line-inactive': !detalle.status_list.pickup[i + 1]?.active
                  }"></div>
              </div>

              <div class="status-text" [class.active-text]="item.active">
                {{ item.status }}
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer p-0 ">
        <button class="btn btn-track" (click)="trackOrder()">Track Order</button>
      </div>
    </div>




      <div class="card-body accordion mt-4" id="pickupAccordion">
        <div class="card accordion-item">
          <h2 class="accordion-header" id="headingPickup">
            <button class="card accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePickup"
              aria-expanded="true" aria-controls="collapsePickup">
              Pickup Data
            </button>
          </h2>
          <div id="collapsePickup" class="accordion-collapse collapse show" aria-labelledby="headingPickup"
            data-bs-parent="#pickupAccordion">
            <div class="accordion-body">
              <p>{{ detalle.route.pickup }}</p>
              <p>{{ formatDate(detalle.start_date) }} • {{ formatTime(detalle.start_date) }}</p>
              <p>{{ detalle.driver.telephone }}</p>
              <p>{{ detalle.driver.email }}</p>
            </div>
          </div>
        </div>
    </div>



  </div>
  <div *ngIf="!detalle" class="loading">Cargando detalles...</div>
</div>