.card{
  background: #111418;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #8989899d;}
.btn-track{
  width: 100%;
  background-color: yellow;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.truncate {
  white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis;  
  max-width: 100%;           
  display: inline-block;   
  cursor: pointer;          
}

.imgavatar {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 15px solid #111418; 
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.804);
  transition: transform 0.3s ease-in-out;
}

.imgavatar:hover {
  transform: scale(1.05); 
}

.imgavatar:hover {
  transform: scale(1.5);
}
.zona1{
  width: 80%;
}
@media (min-width: 200px) and (max-width: 450px){
  .zona1{
    width: 95%;
  }
}