<div class="cargo-container justify-content-center align-items-center d-flex" *ngIf="detalle" >
  <div class="row zona1">

    <div class="col-md-12"> 
      <app-card-details [resultD]="detalle"></app-card-details>
    </div>



    <div class="col-md-12">
      <div class="card mb-4 m-0">
        <div class="card-header p-0 justify-content-center align-items-center d-flex mb-4">

          <img
            [src]="detalle.driver?.thumbnail || 'https://s3-alpha-sig.figma.com/img/d66c/6bfc/5fae6fe6e789c41fe834890a2515d33a?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=bv3sRYXTnKXPQrRbDsX9rgPlANroI0PeRIiSKjXtvWc5zAWdhXXn1QxDMuKJj5XnbLKg2JedschIBe1PhnHz9YJ1VyBfKTO2Epfx4MS6HJHybOdaJ3bz2-56au5L8X2cdh3BLRVmwDQ5PzOL0DGO1YpFL8isGCYjatPJ-Ip3zOfIHK7fGZT8pFea-KmcwLnYJJfDvRft1tE94GFkXlnmG~Fx3q~ZjSlaukgZ-9ewL3NZk9CtwyAhHj4qSY64t5EDX4iy5D4zM7cZ7H3PRf9OxmRcnMq0wCPn7MrEBUvTji59h3vJPjL87y6rczCrdVQQzDYE6~HPkw20cpH0E2rXtA__'"
            alt="Driver image" class="position-absolute imgavatar" width="150" height="150" />
        </div>
        <div class="mt-5">
          <p class="text-center mt-3">{{ formatTime(detalle.start_date) }}</p>

        </div>

        <app-card-details2 [redulD2]="detalle"></app-card-details2>

        <div class="card-footer p-0 ">
          <button class="btn btn-track" (click)="trackOrder()">Track Order</button>
        </div>
      </div>
    </div>



    <div class="col-md-12">
      <div class="card-body accordion mt-4" id="pickupAccordion">
        <div class="card accordion-item">
          <h2 class="accordion-header" id="headingPickup">
            <button class="card accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapsePickup" aria-expanded="true" aria-controls="collapsePickup">
              Pickup Data
            </button>
          </h2>
          <div id="collapsePickup" class="accordion-collapse collapse show" aria-labelledby="headingPickup"
            data-bs-parent="#pickupAccordion">
            <div class="accordion-body">
              <p>{{ detalle.route.pickup }}</p>
              <p>{{ formatDate(detalle.start_date) }} • {{ formatTime(detalle.start_date) }}</p>
              <p>{{ detalle.driver.telephone }}</p>
              <p>{{ detalle.driver.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!detalle" class="loading text-center">Cargando detalles...</div>