<div class="row mb-5 mt-5">
    <div class="col-3 d-flex justify-content-center align-items-center"> 
        <button class="btn" (click)="goBack()"> 
            <img src="/img/regreso.svg" alt="regresar"> 
        </button>
    </div>

    <div class="col-6 text-center">
        <h3 class="titleheader">{{ pageName }}</h3> 
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">
        <button class="btn"> 
            <img src="/img/campana.svg" alt="campana" width="25" height="25" class="img-fluid">
        </button>
    </div>
</div>
