.card {
    background: #111418;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #8989899d;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
    cursor: pointer;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.grey-dot-bg {
    background-color: #ccc;
}

.blue-dot-bg {
    background-color: #007bff;
}