<div class="row">
    <div class="col-7 justify-content-start d-flex">
      <button [disabled]="!isCompleted" class="btn btn-color d-flex" (click)="handleNavigationClick()">
        <span class="my-auto me-2" ><strong>Navegación</strong></span>
        <span class="my-auto contador" *ngIf="!isCompleted">{{ timeRemaining }}</span>
      </button>

    </div>
    <div class="col-5 justify-content-end d-flex">
      <a [routerLink]="['/details', resultDet._id]" class="title-btres  border-b justify-content-center d-flex"><strong class="my-auto mx-2" >Detalles</strong>
        <img src="/img/btn-detalles.svg" alt="btn-details" class="img-fluid my-auto" width="21" height="16">
      </a>
    </div>
  </div>
  