.border-b {
    width: 135px;
    height: 45px;
    background-color: #ffee00;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 35px;
}

.btn-color{
    border: none !important;
    width: 195px;
    height: 45px;
    background-color: #ffee00;
    color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 0px;
}

.title-btres{
    color: black;
    text-decoration: none;
}

.btn-color:disabled{
    background-color: #17181a;
    color: #fff;

}

.contador{
    color: #ffee00;
}

